<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 rescap">

  <Identity
    Name="Contoso.WhatSprintIsItWidget"
    Publisher="CN=Contoso"
    Version="1.0.0.6" />

  <Properties>
    <DisplayName>WhatSprintIsItWidget</DisplayName>
    <PublisherDisplayName>Contoso</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="WhatSprintIsItWidget.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="WhatSprintIsItWidget"
        Description="Displays the current Azure DevOps sprint and week."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
      </uap:VisualElements>

      <Extensions>
        <!-- Register the out-of-process COM server for the widget provider. -->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="WhatSprintIsItWidget.exe" Arguments="-RegisterProcessAsComServer" DisplayName="WhatSprintIsItWidget">
              <com:Class Id="6E3E1B58-1D8C-4F2A-9C4E-6A5B2F0E9D11" DisplayName="WhatSprintIsItWidget Provider" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>

        <!-- Declare the widget provider and its widget definitions. -->
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension
            Name="com.microsoft.windows.widgets"
            Id="WhatSprintIsItWidgetProvider"
            PublicFolder="Public"
            DisplayName="Azure DevOps Sprint">
            <uap3:Properties>
              <WidgetProvider>
                <ProviderIcons>
                  <Icon Path="Assets\WidgetIcon.png" />
                </ProviderIcons>
                <Activation>
                  <!-- CLSID of the COM server registered above. -->
                  <CreateInstance ClassId="6E3E1B58-1D8C-4F2A-9C4E-6A5B2F0E9D11" />
                </Activation>
                <Definitions>
                  <Definition
                    Id="Sprint_Widget"
                    DisplayName="Azure DevOps Sprint"
                    Description="Shows the current Azure DevOps sprint and week.">
                    <Capabilities>
                      <Capability>
                        <Size Name="small" />
                      </Capability>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Assets\WidgetIcon.png" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Assets\WhatSprintIsItWidgetScreenshot.png" />
                      </Screenshots>
                    </ThemeResources>
                  </Definition>
                </Definitions>
              </WidgetProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>
